<launch>

  <param name="robot_description"
    textfile="$(find iai_naive_kinematics_sim)/test_data/test_robot.urdf" />

  <node pkg="iai_naive_kinematics_sim" type="simulator" 
        name="simulator" output="screen">
    <rosparam command="load" 
        file="$(find iai_naive_kinematics_sim)/test_data/test_config.yaml" />
    <param name="sim_frequency" value="100.0"/>
    <param name="watchdog_period" value="0.2"/>
    <remap from="~joint_states" to="joint_states" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" />

</launch>
